$gris: lighten(black, 60%);
$orange1: #FF942B;

#contain .main, #footer .main{
    border-right: 1px solid $gris;
    border-left: 1px solid $gris;
}
#footer .main{
    border-bottom: 1px solid $gris;
}
#experience button:hover, #btn_top:hover{
    background: $orange1;
}